{% extends 'base_generic.html' %} {% block content %} {% if form.errors %}
<p>你输入的用户名和密码不匹配，请重试</p>
{% endif %} {% if next %} {% if user.is_authenticated %}
<p>你的账户没有权限访问该页面.如果继续, 请重新登录一个具有该权限的账号.
</p>
{% else %}
<p>请登录才能看到这个页面.</p>
{% endif %} {% endif %}
 
<form role="form" action="{% url 'login' %}" method='post'>
    {% csrf_token %}
    <div class="form-group">
        <label for="name">{{form.username.label_tag}}</label>
        {{form.username}}
    </div>
    <div class="form-group">
        <label for="name">{{form.password.label_tag}}</label>
        {{form.password}}
    </div>

    <div>
        <input class="btn btn-primary" type="submit" value=" 登录 " />
        <input type="hidden" name="next" value="{{ next }}">
    </div>
</form>
{# 忘记密码 #}
<p>
    <a href="{% url 'password_reset' %}">忘记密码?</a>
</p>
{% endblock content %}