{% extends 'base_generic.html' %}


{% block content %}
    {% if validlink %}
        <p>请重新输入新的密码</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{csrf_token}}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">新密码:</label>
                    </td>
                    <td>
                        {{ form.new_password1 }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">确定密码：</label>
                    </td>
                    <td>
                        {{ form.new_password2 }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="修改密码">
                    </td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>密码重置失败</h1>
        <p>这个密码重置的连接可能已经失效，也许这个连接已经被使用过了，请重试.</p>
    {% endif %}
{% endblock content %}
    