{% extends 'base_generic.html' %}

{% block content %}
    <h1>图书馆借阅情况</h1>
    {% if allborrowed_list  %}
        <ul>
            {% for bookinst in allborrowed_list %}
                <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                    <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> , 应还日期:({{ bookinst.due_back }})
                </li>
            {% endfor %}            
        </ul>
    {% else %}
        <p>没有书籍被借出去</p>
    {% endif %}   
{% endblock content %}
    